body{
	background: white;
	background-image: url('/resources/onion.png');
	background-repeat: no-repeat;
}

div{
	background: #fff;
	border: 1px solid black;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	opacity: 0.8;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
table{
	border-collapse: collapse;
	width: 100%;
}

table td{
	border-right: 1px solid #777;
	padding-left: 1em;
	padding-right: 1em;
}

img{
	position: fixed;
	z-index: -1;
	top: 1%;
	left: 1%;
}

table td.size{
	text-align: right
}

table tr:hover{
	background: yellow;
	cursor: pointer;
}
table tr.header{
	background: #111;
	color: white;
}

a{
	text-decoration: none;
}

b.c{
	display: block;
	text-align: right;
	padding-right: 1em;
}

em{
	color: #888;
}

h1{
	background: #333;
	color: white;
	text-align: center;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
}
