//Include("modules.d/*");



//ActivateModule("SQLAuth");

/* hola */
// gola
/*
SetVariable("webroot","/var/");


[[".*"]] -> SQLAuth("mysql://321312",
        "SELECT id FROM users WHERE user=<user> password=MD5(<password>)") -> {
    ["/"] -> {
      ["file"] -> {
        RequireUser("david") ->	FileServer("/home/david");
        [".*\.html$"] -> StaticFile("$webroot$/htmlforbidden.html",code="$forbidden$");
        StaticFile("$webroot$/404.html",code="404");
      };
      ["stats"] -> { 
        IfLocal("192.168.1.0/24") -> Stats;
        ["$"] -> Stats;
      };
      [["nslu2"]] -> ["~([^/]+)"] -> {
        FileServer["/home/$1"];
      };
      Redirect("~$path$");
    };
};

Error("NotFound");
*/

ActivateModule('src/moremodules/libdirlist.so');
//Listen('*:80');

[[".*"]] -> {
	Stats('/stats/');
  ['/static/'] -> Directory('static');
  ['/tmp'] -> {
    ['/index.html$'] -> StaticFile('test.html');
    StaticFile("/home/david/Brain_Dead-Peter_Jackson(1992).avi");
  };
  //['/'] -> Directory('/home/'); // this catches the static files
  ['/'] -> DirList('/home/'); // and this the directories. Actually both
  StaticFile("error.html",code="404");
};

