//Include("modules.d/*");



//ActivateModule("SQLAuth");

/* hola */
// gola
/*
SetVariable("webroot","/var/");


[[".*"]] -> SQLAuth("mysql://321312",
        "SELECT id FROM users WHERE user=<user> password=MD5(<password>)") -> {
    ["/"] -> {
      ["file"] -> {
        RequireUser("david") ->	FileServer("/home/david");
        [".*\.html$"] -> StaticFile("$webroot$/htmlforbidden.html",code="$forbidden$");
        StaticFile("$webroot$/404.html",code="404");
      };
      ["stats"] -> { 
        IfLocal("192.168.1.0/24") -> Stats;
        ["$"] -> Stats;
      };
      [["nslu2"]] -> ["~([^/]+)"] -> {
        FileServer["/home/$1"];
      };
      Redirect("~$path$");
    };
};

Error("NotFound");
*/

//ActivateModule('src/moremodules/libdirlist.so');
//Listen('*:80');

	['^/resources/'] -> Resources();

[[".*"]] -> /*Allow("127.0.0.1") ->*/ {
	Stats('/stats/');
	//['^/google/'] -> Proxy("http://www.google.com/$1");
  ['^/auth-home/'] -> AuthPAM("Home directories", "onion") -> DirList('/home/');
  ['/home/'] -> DirList('/home/');
	['/local/'] -> Proxy('localhost:8000');
	StaticFile(":error.html",code="404");
};

